html {
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

p {
	font-size: 12pt;
	text-align: justify;
}

#card {
	width: 20rem;
}
#card img {
	width: 300px;
	height: 200px;
}
#card:hover {
	box-shadow: 2px 3px 20px 6px rgb(32 33 36 / 28%);
	transform: scale(1.02);
}
.card-header {
	color: white;
	background-color: #22354f;
}

#linkWhatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: rgb(61, 143, 45);
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}
#linkWhatsapp:hover {
	position: fixed;
	width: 80px;
	height: 80px;
	bottom: 50px;
	right: 50px;
	background-color: rgb(61, 143, 45);
	color: #fff;
	border-radius: 80px;
	text-align: center;
	font-size: 40px;
	box-shadow: 10px 10px 20px #888;
	z-index: 1000;
}

footer {
	margin-top: auto;
	padding: 5%;
	color: white;
	background-color: #22354f;
	text-align: center;
}
